<div class="container text-center" style="margin-top: 3rem;">
    <div class="container" style="max-height: 70vh; overflow-y: scroll;">
        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr class="table-light">
                    <th scope="col">Index</th>
                    <th scope="col">Contenido_Noticia</th>
                    <th scope="col">Predicción</th>
                    <th scope="col">Proba_Despo</th>
                    <th scope="col">Proba_NoDespo</th>
                </tr>
            </thead>
            <tbody>
                {% for content in results_json['noticia'] %}
                <th scope="row">{{ loop.index }}</th>
                <td>{{ content }}</td>
                <td>{{ results_json['Prediccion'][loop.index] }}</td>
                <td>{{ results_json['ProbaDespoblacion'][loop.index] }}</td>
                <td>{{ results_json['ProbaNoDespoblacion'][loop.index] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table-light">
            <tr class="table-light">
                <th scope="col"> </th>
                <th scope="col">Despoblación</th>
                <th scope="col">No Despoblación</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <th scope="row">1</th>
            <td>{{ despo_count }}</td>
            <td>{{ nodespo_count }}</td>
            <td>{{ despo_count +  nodespo_count}}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="./download_results">
        <i class="far fa-file-excel pr-2"></i> Download Results
    </a>
</div>