{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center" style="height: 7%">
  <h1 style="margin-top: -0.9em">About our project</h1>
</div>
<div class="container">
  <div class="row">
    <div class="row" style="margin-bottom: 2em; margin-top: 2.5em">
      <h2>Flask</h2>
    </div>
    <div class="row">
      <div class="col-8">
        <img src="static/img/howto/flask.png" style="width: 100%" />
      </div>
      <div class="col-4">
        <p style="text-align: justify">
          Flask es un framework minimalista escrito en Python que permite crear
          aplicaciones web rápidamente y con un mínimo número de líneas de
          código. Está basado en la especificación WSGI de Werkzeug y el motor
          de templates Jinja2 y tiene una licencia BSD.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="row" style="margin-bottom: 2em; margin-top: 3em">
        <h2>Git Bash</h2>
      </div>
      <div class="row">
        <div class="col-4">
          <p style="text-align: justify">
            Git es un software de control de versiones diseñado por Linus
            Torvalds, pensando en la eficiencia, la confiabilidad y
            compatibilidad del mantenimiento de versiones de aplicaciones cuando
            éstas tienen un gran número de archivos de código fuente.
          </p>
        </div>
        <div class="col-8">
          <img src="static/img/howto/git.png" style="width: 90%" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row" style="margin-bottom: 2em; margin-top: 2.5em">
        <h2>Python</h2>
      </div>
      <div class="row">
        <div class="col-8">
          <img src="static/img/howto/python.png" style="width: 100%" />
        </div>
        <div class="col-4">
          <p style="text-align: justify">
            Python es un lenguaje de scripting independiente de plataforma y
            orientado a objetos, preparado para realizar cualquier tipo de
            programa, desde aplicaciones Windows a servidores de red o incluso,
            páginas web.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="row" style="margin-bottom: 2em; margin-top: 3em">
          <h2>Bootstrap</h2>
        </div>
        <div class="row">
          <div class="col-4">
            <p style="text-align: justify">
              Bootstrap es una biblioteca multiplataforma o conjunto de
              herramientas de código abierto para diseño de sitios y
              aplicaciones web. Contiene plantillas de diseño con tipografía,
              formularios, botones, cuadros, menús de navegación y otros
              elementos de diseño basado en HTML y CSS, así como extensiones de
              JavaScript adicionales. A diferencia de muchos frameworks web,
              solo se ocupa del desarrollo front-end. Bootstrap es el segundo
              proyecto más destacado en GitHub.
            </p>
          </div>
          <div class="col-8">
            <img src="static/img/howto/bootstrap.png" style="width: 60%" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row" style="margin-bottom: 2em; margin-top: 2.5em">
          <h2>Javascript</h2>
        </div>
        <div class="row">
          <div class="col-8">
            <img src="static/img/howto/javascript.png" style="width: 50%" />
          </div>
          <div class="col-4">
            <p style="text-align: justify">
              JavaScript (abreviado comúnmente JS) es un lenguaje de
              programación interpretado, dialecto del estándar ECMAScript. Se
              define como orientado a objetos,​ basado en prototipos,
              imperativo, débilmente tipado y dinámico. Se utiliza
              principalmente del lado del cliente, implementado como parte de un
              navegador web permitiendo mejoras en la interfaz de usuario y
              páginas web dinámicas​ y JavaScript del lado del servidor
              (Server-side JavaScript o SSJS). Su uso en aplicaciones externas a
              la web, por ejemplo en documentos PDF, aplicaciones de escritorio
              (mayoritariamente widgets) es también significativo.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="row" style="margin-bottom: 2em; margin-top: 3em">
            <h2>Pickle</h2>
          </div>
          <div class="row">
            <div class="col-4">
              <p style="text-align: justify">
                El modulo pickle implementa protocolos binarios para serializar
                y deserializar una estructura de objetos Python. «Pickling» es
                el proceso mediante el cual una jerarquía de objetos de Python
                se convierte en una secuencia de bytes, y el «unpickling» es la
                operación inversa, mediante la cual una secuencia de bytes de un
                archivo binario (binary file) ó un objeto tipo binario
                (bytes-like object) es convertido nuevamente en una jerarquía de
                objetos.
              </p>
            </div>
            <div class="col-8">
              <img src="static/img/howto/pickle.png" style="width: 80%" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="row" style="margin-bottom: 2em; margin-top: 2.5em">
            <h2>MDBootstrap</h2>
          </div>
          <div class="row">
            <div class="col-8">
              <img src="static/img/howto/mdbootstrap.png" style="width: 80%" />
            </div>
            <div class="col-4">
              <p style="text-align: justify">
                Material Design fue desarrollado en 2014 por Google. Es un
                lenguaje de diseño mobile-first. Además de su facilidad de
                implementación y uso, otra gran característica de esta
                plataforma de diseño es la falta de dependencia de los marcos y
                bibliotecas de JavaScript. En Materialize también cuenta con su
                propio sistema de grid (no definido propiamente en Material
                Design). Lo cual permite la realización de paginas muy complejas
                con el estilo de Google y todas sus funcionalidades. Y al igual
                que Bootstrap podemos darles, a partir del CSS, nuestros propios
                estilos.
              </p>
            </div>
          </div>

          <footer class="bg-dark text-white text-center text-lg-start">
            <div class="container p-4">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <img
                  src="static/img/howto/mit.png"
                  style="
                    width: 20%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                  "
                />
                <div class="row">
                  <p style="text-align: justify">
                    MIT License Copyright (c) 2021 is hereby granted, free of
                    charge, to any person obtaining a copy of this software and
                    associated documentation files (the "Software"), to deal in
                    the Software without restriction, including without
                    limitation the rights to use, copy, modify, merge, publish,
                    distribute, sublicense, and/or sell copies of the Software,
                    and to permit persons to whom the Software is furnished to
                    do so, subject to the following conditions: The above
                    copyright notice and this permission notice shall be
                    included in all copies or substantial portions of the
                    Software.
                  </p>
                </div>
                <!--Grid column-->
              </div>
              <div class="row">
                <p style="text-align: justify">
                  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY
                  KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
                  WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                  PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
                  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
                  OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
                  SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                </p>
              </div>
              <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div
              class="text-center p-3"
              style="background-color: rgba(0, 0, 0, 0.2)"
            >
              © 2021 Copyright:
              <a
                class="text-white"
                href="https://github.com/RoachLok/text-classifer"
                >Text Classifier Repository</a
              >
            </div>
            <!-- Copyright -->
          </footer>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
