{% extends 'layout.html' %}

{% block body %}

<section style="display: flex; flex-direction: column; min-height: 94vh;">
    <div class="jumbotron text-center" style="height: 7%;">
        <h1 style="margin-top: -0.7em;">Clasificador de Texto</h1> 
    </div>

    <!-- File upload -->
    <div class="row justify-content-around">
        <div class="col btn-group justify-content-center" style="min-width: 360px; -webkit-box-shadow: none; box-shadow: none;">
            <button class="btn btn-info" onclick="document.getElementById('despo-input').click();" style="min-width: 270px; font-size: 1rem; max-width: 15vw;">
                <span>Despoblación</span>
            </button>    <input id="despo-input" onChange="samplesSelect('despo')" type="file" style="display: none;" webkitdirectory directory multiple/>
            <button id="despo-drop" type="button" class="col-1 btn btn-info btn-outline-grey dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 0.5vw; background-color: #33b5e5 !important;">
                <span id="despo-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            </button>
            <div class="dropdown-menu" id="despo-samples" style="overflow-y: scroll; max-height: 25vh;">
                <button class="dropdown-item border-top border-info disabled">
                    No se han cargado archivos.
                </button>
            </div>
        </div>
        <div class="col btn-group justify-content-center" style="min-width: 360px; -webkit-box-shadow: none; box-shadow: none;">
            <button class="btn btn-warning " onclick="document.getElementById('nodespo-input').click();" style="min-width: 270px; font-size: 1rem; max-width: 15vw;">
                <span>No_Despoblación</span>
            </button>    <input id="nodespo-input" onChange="samplesSelect('nodespo')" type="file" style="display: none;" webkitdirectory directory multiple/>
            <button id="nodespo-drop" type="button" class="col-1 btn btn-warning btn-outline-grey dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 0.5vw; background-color: #ffbb33 !important;">
                <span id="nodespo-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            </button>
            <div class="dropdown-menu" id="nodespo-samples" style="overflow-y: scroll; max-height: 25vh">
                <button class="dropdown-item border-top border-info disabled">
                    No se han cargado archivos.
                </button>
            </div>
        </div>
    </div>

    <!-- Settings -->
    <div class="row border-bottom border-warning">
        <div class="col btn-group justify-content-center" style="min-width: 360px; -webkit-box-shadow: none; box-shadow: none;">
            <button class="btn btn-primary" onclick="toggleSettingsPanel(true)" style="width: 50%;">
                Pre- Procesado
            </button>
            <button class="btn btn-primary" onclick="toggleSettingsPanel(false)" style="width: 50%;">
                Ajustes Clasificador
            </button>
        </div>
        <div class="collapse" id="preprocess-collapse">
            <div class="card card-body">
                <div class="row border-bottom border-info">
                    <p style="margin-left: 10%;">Uso de Stopwords: </p> 
                    <input style="margin-left: 70%; margin-top: 3%" class="form-check-input " type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                </div>
                <div class="row border-top border-bottom border-info">
                    <div class="col">
                        <p style="margin-top: 10%; margin-left: 1%;">Poda:</p> 
                    </div>
                    <div class="col" style="margin-top: 3%;">
                        <input id="prune-range" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" style="width: 10vw;"/>
                    </div>
                </div>
                <div class="row border-top border-info">
                    <p style="margin-left: 10%; margin-top: 5%;">Auto-Ajuste: </p> 
                    <input style="margin-left: 70%; margin-top: 7%" class="form-check-input " type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                </div>
            </div>
        </div>
        <div class="collapse" id="classifier-collapse">
            <div class="card card-body">
                Cargar tu clasificador o algo así.
            </div>
        </div>
    </div>
    
    <!-- Text areas-->
    <!-- TODO: flex-direction toggler -->
    <div class="row" style="margin-top: 2vh; flex: 1; display: flex; justify-content: center; flex-direction: column;">
        <div class="col" style="flex: 1; display: flex; justify-content: center; flex-direction: column;">
            <!-- Matches Text-Area -->
            <label for="matches-tabContent">Texto original: </label>
            <textarea id="text-area" class="form-control" style="flex: 1; display: flex; justify-content: center; flex-direction: column;" readonly>Carga los textos </textarea>
        </div>
        <div class="col" style="flex: 1; display: flex; justify-content: center; flex-direction: column;">
            <!-- Matches Text-Area -->
            <label for="matches-tabContent">Texto procesado: </label>
            <textarea id="corpus-area" class="form-control" style="flex: 1; display: flex; justify-content: center; flex-direction: column;" readonly>Carga los textos </textarea>
        </div>
    </div>
</section>

<section class="row" style="margin-top: 3rem; background-color: #212121; height: 70vh;">
    
</section>

<script>
    /*** Settings panel toggler. ***/
    function toggleSettingsPanel(panel_one) {
        if (panel_one) {
            $('#preprocess-collapse').collapse('toggle');
            $('#classifier-collapse').collapse('hide'  );
        } else {
            $('#classifier-collapse').collapse('toggle');
            $('#preprocess-collapse').collapse('hide'  );
        }
    }
</script>

<script>
    /*** Prune slider instantiation. ***/
    let slider = new Slider("#prune-range", {
        precision: 1,
        value: 20   // Slider will instantiate showing 20 due to specified precision
    });
</script>

<script>
    function getFileText(fileId) {
        // Create a request variable and assign a new XMLHttpRequest object to it.
        const request = new XMLHttpRequest();

        // Open a new connection, using the POST request on the URL endpoint.
        request.open('GET', './get_train_files/'+fileId, true);

        request.onload = function () {  // Process response somehow // A json can also be retrieved. 
            parsed_json = JSON.parse(this.response);
            const text_container    = document.getElementById('text-area'  );
            const corpus_container  = document.getElementById('corpus-area');

            text_container  .value = parsed_json[0];
            corpus_container.value = parsed_json[1];
        }

        // Send request
        request.send();
    }
</script>
    
<script>
    function toggleLoad(file_type) {
        let drop_button = document.getElementById(file_type+'-drop');
        let spinner     = document.getElementById(file_type+'-spinner');

        if (drop_button.classList.contains('dropdown-toggle')) {
            spinner.style.removeProperty('display');

            drop_button.classList.remove( 'dropdown-toggle' );
            drop_button.classList.add   ( 'disabled'        );
        } else {
            spinner.style.display = "none";

            drop_button.classList.remove( 'disabled'        );
            drop_button.classList.add   ( 'dropdown-toggle' );
        }
    }

    function samplesSelect(file_type) {
        toggleLoad(file_type);
        const directory_files = document.getElementById(file_type+'-input').files;

        let jsonified_files = [];
        for (file of directory_files) {
            let fr = new FileReader();
            fr.onload  = ( function(file_copy) {
                return function(event) {
                jsonified_files.push( {
                    name             : file_copy.name,
                    type             : file_copy.type,
                    lastModified     : file_copy.lastModified,
                    lastModifiedDate : file_copy.lastModifiedDate,
                    size             : file_copy.size,
                    content          : event.target.result
                });
                if (jsonified_files.length == directory_files.length) {
                    dropdownsRequest(jsonified_files, file_type);
                }
            };} (file))
            fr.readAsText(file);  
        }   
    }

    function dropdownsRequest(jsonified_files, file_type) {
        // Create a request variable and assign a new XMLHttpRequest object to it.
        const request = new XMLHttpRequest();

        // Open a new connection, using the POST request on the URL endpoint.
        request.open('POST', './get_train_files/'+file_type, true);

        request.onload = function () {  // Process response somehow // A json can also be retrieved. 
            const dropdown = document.getElementById(file_type + '-samples');
            dropdown.innerHTML = this.response;
    
            toggleLoad(file_type);
        }

        // Send request
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.send(JSON.stringify(jsonified_files));
    }
</script> 

<!-- Search on dropdowns -->
<script>
    function searchDropdown(file_type) {
        /*
        * Source: https://www.w3schools.com/howto/howto_js_filter_dropdown.asp
        */

        let input, filter, ul, li, a, i;
        input = document.getElementById(file_type + '-search-input');
        filter = input.value.toUpperCase();
        div = document.getElementById(file_type + '-samples');
        button = div.getElementsByTagName('button');
        for (i = 0; i < button.length; i++) {
            txtValue = button[i].textContent || button[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                button[i].style.display = "";
            } else {
                button[i].style.display = "none";
            }
        }
    } 
</script>


{% endblock %}