{% extends 'layout.html' %}

{% block body %}

<section id="top-container" style="display: flex; flex-direction: column; min-height: 94vh;">
    <div class="jumbotron text-center" style="height: 7%;">
        <h1 style="margin-top: -0.7em;">Clasificador de Noticias</h1> 
    </div>

    <!-- File upload -->
    <div class="row justify-content-around">
        <div class="col btn-group justify-content-center" style="min-width: 360px; -webkit-box-shadow: none; box-shadow: none;">
            <button class="btn btn-info" onclick="document.getElementById('despo-input').click();" style="min-width: 270px; font-size: 1rem; max-width: 15vw;">
                <i class="fas fa-upload" style="margin-right: 0.5rem;"  ></i>
                Despoblación
            </button>    <input id="despo-input" onChange="samplesSelect('despo')" type="file" style="display: none;" webkitdirectory directory multiple/>
            <button id="despo-drop" type="button" class="col-1 btn btn-info btn-outline-grey dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 0.5vw; background-color: #33b5e5 !important;">
                <span id="despo-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            </button>
            <div class="dropdown-menu" id="despo-samples" style="overflow-y: scroll; max-height: 25vh;">
                <button class="dropdown-item border-top border-info disabled">
                    No se han cargado archivos.
                </button>
            </div>
        </div>
        <div class="col btn-group justify-content-center" style="min-width: 360px; -webkit-box-shadow: none; box-shadow: none;">
            <button class="btn btn-warning " onclick="document.getElementById('nodespo-input').click();" style="min-width: 270px; font-size: 1rem; max-width: 15vw;">
                <i class="fas fa-upload" style="margin-right: 0.5rem;"></i>
                No_Despoblación
            </button>    <input id="nodespo-input" onChange="samplesSelect('nodespo')" type="file" style="display: none;" webkitdirectory directory multiple/>
            <button id="nodespo-drop" type="button" class="col-1 btn btn-warning btn-outline-grey dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 0.5vw; background-color: #ffbb33 !important;">
                <span id="nodespo-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            </button>
            <div class="dropdown-menu" id="nodespo-samples" style="overflow-y: scroll; max-height: 25vh">
                <button class="dropdown-item border-top border-info disabled">
                    No se han cargado archivos.
                </button>
            </div>
        </div>
    </div>

    <!-- Settings -->
    <div class="row border-bottom border-warning">
        <div class="col btn-group justify-content-center" style="min-width: 360px; -webkit-box-shadow: none; box-shadow: none;">
            <button class="btn btn-primary btn-outline-light" onclick="toggleSettingsPanel(true)" style="width: 50%; background-color: #4285f4 !important; min-width: 171px;">
                Ajustes de Preprocesado
            </button>
            <div class="btn-group" style="width: 50%; min-width: 250px;">
                <button class="btn btn-primary btn-outline-light" onclick="toggleSettingsPanel(false)" style="width: 90%; background-color: #4285f4 !important; min-width: 162px;">
                    Ajustes de Clasificador
                </button>
                <button class="btn btn-unique btn-outline-light" style="width: 10%; background-color: #880e4f !important;" title="Upload Trained Model">
                    <i class="fas fa-file-import"></i>
                </button>
            </div>
        </div>
        <div class="collapse" id="preprocess-collapse">
            <div class="card card-body ml-1">
                <h4 class="card-title">Opciones de preprocesado: </h4>
                <div class="form-check form-switch">
                    <label class="form-check-label card-text" for="stopwords-check">
                        <li> Uso de stopwords: </li>
                    </label>
                    <input class="form-check-input" type="checkbox" id="stopwords-check" checked style="margin-left: 15px;"/>
                </div>
                <div class="card-text" style="font-weight: 100; opacity: 70%; margin-top: 0.75rem;">
                    La opción de uso de stopwords no se aplica a los textos ya preprocesados.
                </div>
            </div>
        </div>
        <div class="collapse" id="classifier-collapse">
            <div class="card card-body ml-1">
                <h4 class="card-title">Opciones de Entrenamiento: </h4>
                <div class="row">
                    <div class="col" style=" min-width: 400px;">
                        <div class="row justify-content-start" style="padding-left: 1.25rem; padding-top: 0.25rem;">
                            <div class="col-5">
                                <label class="form-check-label card-text" for="transform-select" style="padding-top: 0.5rem;">Vector Transform: </label>
                            </div>
                            <div class="col-6">
                                <select id="transform-select" class="form-select" aria-label="Transform Selector">
                                    <option value="cv" selected>Count Vectorizer </option>
                                    <option value="tfidf">TF - IDF </option>
                                </select>
                            </div>
                        </div>

                        <div class="row justify-content-start" style="padding-left: 1.25rem; padding-top: 1rem; padding-bottom: 1rem; background-color: aliceblue;">
                            <div class="col-5">
                                <label class="form-check-label card-text" for="stopwords-check">Porcentaje de Poda: </label>
                            </div>
                            <div class="col-6">
                                <input id="prune-range" data-slider-id="prune-slider" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" style="width: 100%"/>
                            </div>
                        </div>
                    </div>

                    <div class="col" style="margin-top: -10; min-width: 400px; padding-left: 1.25rem; padding-top: 1rem;">
                        <label class="col-5" for="model-select">Tipo de Modelo:</label>
                        <select id="model-select" class="form-select" aria-label="Model Selector">
                            <option value="LR" selected>Logistic Regression  </option>
                            <option value="LDA">Linear Discriminant Analysis </option>
                            <option value="KNN">KNeighbors Classifier        </option>
                            <option value="SVC">Support-Vector Machine       </option>
                            <option value="RF" >Random Forest Classifier     </option>  
                            <option value="ANN">MLP Classifier               </option>
                        </select>
                    </div>                        
                </div>
                
                <div class="flex-row" style="margin-top: 1rem;">
                    <a id="train-button" class="btn btn-success" href="#results-section" onclick="onTrainButtonClick()" style="width: 145px;">
                        <i class="fas fa-bolt pr-2" aria-hidden="true"></i> Train
                    </a>
                    <button type="button" class="btn btn-unique" title="Upload Trained Model">
                        <i class="fas fa-file-import pr-2" aria-hidden="true"></i> Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Text areas-->
    <div id="texts-container" class="row" style=" flex: 1; display: flex; justify-content: center; flex-direction: column;">
        <div class="col" style="flex: 1; display: flex; justify-content: center; flex-direction: column;">
            <!-- Original text -->
            <div class="d-flex justify-content-between" style="margin-bottom: 0.25rem;">
                <span style="margin-top: 1.4rem;">
                    Texto original:
                </span> 
                <div class="d-flex justify-content-end">
                    <button class="btn" onclick="flexDirectionToggle()">
                        <i id="flex-toggler-icon" class="fas fa-bars to-cols-animation"></i>
                    </button>
                </div>
            </div>
            <textarea id="text-area" class="form-control" style="flex: 1; display: flex; justify-content: center; flex-direction: column;" readonly>Carga los textos </textarea>
        </div>
        <div class="col" style="flex: 1; display: flex; justify-content: center; flex-direction: column; margin-top: 0.5rem;">
            <!-- Preprocessed text -->
            <label id="pre-label" for="corpus-area">Texto preprocesado: </label>
            <textarea id="corpus-area" class="form-control" style="flex: 1; display: flex; justify-content: center; flex-direction: column;" readonly>Carga los textos </textarea>
        </div>
    </div>
</section>

<section id="results-section" class="row" style="margin-top: 3rem; background-color: #212121; height: 70vh;">
    
</section>

<script>
    function onTrainButtonClick() { // TODO: Check if files where uploaded
        let button = document.getElementById('train-button');


        
        $('#classifier-collapse').collapse('hide'  );
        $('#preprocess-collapse').collapse('hide'  );
    }
</script>

<script>
    /*** Settings panel toggler. ***/ // TODO: Make separate one for train button.
    function toggleSettingsPanel(action_click) {
        if (action_click) {
            $('#preprocess-collapse').collapse('toggle');
            $('#classifier-collapse').collapse('hide'  );
        } else {
            $('#classifier-collapse').collapse('toggle');
            $('#preprocess-collapse').collapse('hide'  );
        }
    }

    function flexDirectionToggle() {
        let icon      = document.getElementById('flex-toggler-icon');
        let container = document.getElementById('texts-container'  ); 
        let pre_label = document.getElementById('pre-label'        );

        if (icon.classList.contains('to-rows-animation')) {
            icon.classList.remove('to-rows-animation');
            container.style.flexDirection = 'column';
            pre_label.style.marginTop = '0rem';
        } else {
            icon.classList.add('to-rows-animation');
            container.style.flexDirection = 'row-reverse';
            pre_label.style.marginTop = '1rem';
        }
    }
</script>

<script>
    /*** Prune slider instantiation. ***/
    let slider = new Slider("#prune-range", {
        precision: 1,
        value: 20   // Slider will instantiate showing 20 due to specified precision
    });
</script>
<style>   
    #prune-slider .slider-selection {
        background: #4285f4;
    }
    #prune-slider .slider-track-high {
        background: #BABABA;
    }
    /* Animate flex direction toggler */
    .to-cols-animation {
        transform: rotate(0deg);
        transition: transform 0.5s linear;
    }
    .to-rows-animation {
        transform: rotate(90deg);
        transition: transform 0.5s linear;
    }
</style>

<script>
    function getFileText(fileId) {
        // Create a request variable and assign a new XMLHttpRequest object to it.
        const request = new XMLHttpRequest();

        // Open a new connection, using the POST request on the URL endpoint.
        request.open('GET', './get_train_files/'+fileId, true);

        request.onload = function () {  // Process response somehow // A json can also be retrieved. 
            parsed_json = JSON.parse(this.response);
            const text_container    = document.getElementById('text-area'  );
            const corpus_container  = document.getElementById('corpus-area');

            text_container  .value = parsed_json[0];
            corpus_container.value = parsed_json[1];
        }

        // Send request
        request.send();
    }
</script>
    
<script>
    function toggleLoad(file_type) {
        let drop_button = document.getElementById(file_type+'-drop');
        let spinner     = document.getElementById(file_type+'-spinner');

        if (drop_button.classList.contains('dropdown-toggle')) {
            spinner.style.removeProperty('display');

            drop_button.classList.remove( 'dropdown-toggle' );
            drop_button.classList.add   ( 'disabled'        );
        } else {
            spinner.style.display = "none";

            drop_button.classList.remove( 'disabled'        );
            drop_button.classList.add   ( 'dropdown-toggle' );
        }
    }

    function onEmptyDirectory(file_type) {
        let alert_rawhtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert"> <strong>Directorio vacio!</strong> Comprueba que hayas elegido un directorio con archivos de texto. <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>'
        let alert = document.createElement('div');
        alert.innerHTML = alert_rawhtml;

        let top_container = document.getElementById('top-container');
        top_container.insertBefore(alert, top_container.children[1]);

        toggleLoad(file_type);
    }

    function samplesSelect(file_type) {
        toggleLoad(file_type);
        const directory_files = document.getElementById(file_type+'-input').files;
        if (directory_files.length == 0)
            return onEmptyDirectory(file_type);

        let jsonified_files = [];
        for (file of directory_files) {
            let fr = new FileReader();
            fr.onload  = ( function(file_copy) {
                return function(event) {
                jsonified_files.push( {
                    name             : file_copy.name,
                    type             : file_copy.type,
                    lastModified     : file_copy.lastModified,
                    lastModifiedDate : file_copy.lastModifiedDate,
                    size             : file_copy.size,
                    content          : event.target.result
                });
                if (jsonified_files.length == directory_files.length) {
                    dropdownsRequest(jsonified_files, file_type);
                }
            };} (file))
            fr.readAsText(file);  
        }   
    }

    function dropdownsRequest(jsonified_files, file_type) {
        // Create a request variable and assign a new XMLHttpRequest object to it.
        const request = new XMLHttpRequest();

        // Open a new connection, using the POST request on the URL endpoint.
        request.open('POST', './get_train_files/'+file_type, true);

        request.onload = function () {  // Process response somehow // A json can also be retrieved. 
            const dropdown = document.getElementById(file_type + '-samples');
            dropdown.innerHTML = this.response;
    
            toggleLoad(file_type);
        }

        // Send request
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.send(JSON.stringify(jsonified_files));
    }
</script> 

<!-- Search on dropdowns -->
<script>
    function searchDropdown(file_type) {
        /*
        * Source: https://www.w3schools.com/howto/howto_js_filter_dropdown.asp
        */

        let input, filter, ul, li, a, i;
        input = document.getElementById(file_type + '-search-input');
        filter = input.value.toUpperCase();
        div = document.getElementById(file_type + '-samples');
        button = div.getElementsByTagName('button');
        for (i = 0; i < button.length; i++) {
            txtValue = button[i].textContent || button[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                button[i].style.display = "";
            } else {
                button[i].style.display = "none";
            }
        }
    } 
</script>


{% endblock %}